:root {
  --verde: #2e7d32;
  --verdeClaro: #4caf50;
  --gris: #f5f7fa;
  --texto: #263238;
  --blanco: #ffffff;
  --dorado: #c8a94b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--gris);
}

.wrapper {
  display: flex;
}
