<aside class="sidebar">

    <div class="logo text-center">

        <img src="{{ url_for('static', filename='img/logo_uleam.png') }}"
            class="logo-img mb-3">

        <h4>

            AgroSocial

        </h4>

        <small>

            Analytics

        </small>

    </div>

    <ul class="mt-5">

        <li>
            <a href="/">
                <i class="bi bi-speedometer2"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="/registrar">
                <i class="bi bi-plus-circle"></i>
                Registrar
            </a>
        </li>

        <li>
            <a href="/estadisticas">
                <i class="bi bi-bar-chart"></i>
                Estadísticas
            </a>
        </li>

        <li>
            <a href="/graficas">
                <i class="bi bi-graph-up"></i>
                Gráficas
            </a>
        </li>

        <li>
            <a href="/gestion">
                <i class="bi bi-table"></i>
                Gestión
            </a>
        </li>

        <li>
            <a href="/reportes">
                <i class="bi bi-file-earmark-text"></i>
                Reportes
            </a>
        </li>

        <li>
            <a href="/exportar">
                <i class="bi bi-download"></i>
                Exportar
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-gear"></i>
                Configuración
            </a>
        </li>

    </ul>

</aside>